@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0f172a;
  /* Slate 900 */
  color: #e2e8f0;
  /* Slate 200 */
}